@import "reset.css";

/*Font Size*/
:root {
  /*Font size*/
  --font-large: 2rem;
  --font-regular: 1.2rem;
  --font-small: 62.5%;

  /*Font weight*/
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 400;

  /*Border style*/
  --border-radius-section: 25px;

  /*line height*/
  --line-height: 130%;

  /*Color*/
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;

  --color-light-pink: #f9d5d3;
  --color-pink: #eca4a6;

  --color-custom-grey: #807f89;
  --color-custom-dark-grey: #565b62;
  --color-light-grey: #7c7979;
  --color-grey: #616161;
  --color-dark-grey: #4d4d4d;

  --color-light-green: #d7dbd1;
  --color-green: #bbc7ba;
  --color-dark-green: #99a89e;

  --color-ligth-blue: #aab9bd;
  --color-blue: #88a3ad;
  --color-dark-blue: #77878f;
}

body {
  background-color: #f6f9fc;
  font-family: "source-han-sans-korean", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
section {
  margin: 5%;
}
section div {
  border-radius: var(--border-radius-section);
}

/*background*/
#back {
  width: 50%;
  height: 100%;
  background-color: var(--color-custom-grey);
  align-items: center;
  margin: 0;
}

/*First : main*/

.main__container {
  padding-bottom: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
}
.main__container img {
  width: 100%;
}
.main__title {
  color: white;
  position: absolute;
}

/*Second : daily report & daily quote*/
#daily__quote {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-regular);
  line-height: var(--line-height);
}
.daily__container {
  background-color: var(--color-light-white);
  width: 45%;
  padding-bottom: 45%;
  height: 0;
}
.text {
  padding: 10%;
  font-weight: var(--weight-bold);
  font-size: var(--font-large);
  line-height: var(--line-height);
}

.quote__container {
  width: 45%;
  height: 0;
  padding-bottom: 45%;
  /*display: flex;*/
  background-image: url(img/4.jpg);
  color: white;
}

.quote {
  padding: 10%;
  /*bottom: 0px;*/

  font-weight: var(--weight-semi-bold);
  text-align: center;
}

.author {
  padding: 0 10%;
  text-align: center;
}

/*Third : Progress bar*/
.progress__container {
  width: 100%;
  padding-bottom: 30%;
  background-color: pink;
}

/*Fourth : Calender*/

.Calender__container {
  padding-bottom: 100%;
  background-color: white;
  padding: 12px;
}

.Calender__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  padding: 35px;
}

.nav {
  display: flex;
  border: 1px solid white;
  border-radius: 5px;
}

.nav-btn {
  width: 50px;
  height: 30px;
  border: none;
  line-height: 17px;
  background-color: transparent;
  cursor: pointer;
}

.go-today {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.days {
  display: flex;
  margin: 35px 0;
}
.day {
  width: calc(100% / 7);
  text-align: center;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 500px;
  margin: 30px 0;
}

.date {
  width: calc(100% / 7);
  text-align: center;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: red;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: blue;
}

.other {
  opacity: 0.3;
}
.this:hover,
.other:hover {
  color: #ffffff;
  display: block;
  width: 30%;

  background-color: var(--color-light-green);
  margin: auto;
}
.this.today {
  color: #ffffff;

  display: block;
  width: 30%;

  background-color: var(--color-light-pink);
  margin: auto;
}
/*Fifth : To-do-list*/
.Todo__container {
  width: 100%;
  padding-bottom: 100%;
  background-color: orange;
}
